In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/atewari/learn/ML/ml-lab/Pandas'

In [3]:
ls

.ipynb_checkpoints/
00-Series.ipynb
01-DataFrames.ipynb
Combining-DataFrames.ipynb
Conditional-Filtering.ipynb
Groupby-Operations-and-Multiindex.ipynb
Inputs-and-Outputs.ipynb
Missing-Data.ipynb
Pivot-Tables.ipynb
Text-Methods.ipynb
Useful-Methods.ipynb

In [4]:
import os

In [5]:
os.getcwd()

'/Users/atewari/learn/ML/ml-lab/Pandas'

In [8]:
df = pd.read_csv('../../Python for ML/03-Pandas/example.csv')

In [7]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
dfa = pd.read_csv('../../Python for ML/03-Pandas/example.csv', header=None)

In [11]:
dfa

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [12]:
df2 = pd.read_csv('../../Python for ML/03-Pandas/example.csv', index_col=0)

In [13]:
df2

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [17]:
df2.to_csv('example.csv')

In [18]:
df3 = pd.read_csv('../../Python for ML/03-Pandas/example.csv')
df3.to_csv('example_no_index.csv', index=False)

In [19]:
df3

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15