In [1]:
import pandas as pd
import numpy as np

In [2]:
email = 'ajay@email.com'

In [3]:
email.split('@')

['ajay', 'email.com']

In [4]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])

In [5]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [6]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [7]:
email.isdigit()

False

In [8]:
'5'.isdigit()

True

In [9]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
tech_finance = []

In [11]:
name = 'ajay[17]'

In [12]:
name = 'ajay[17]'
name1 = name.replace(r"\[17\]", '')
name1
name2 = name.replace("[17]", '')
name2

'ajay'

In [14]:
tech_finance = ['GOOG,APL,AMZN', 'JPM,BAC,GS']

In [15]:
len(tech_finance)

2

In [16]:
tickers = pd.Series(tech_finance)

In [17]:
tickers

0    GOOG,APL,AMZN
1       JPM,BAC,GS
dtype: object

In [18]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [19]:
tickers.str.split(',', expand=True)

      0    1     2
0  GOOG  APL  AMZN
1   JPM  BAC    GS

In [20]:
messy_names = pd.Series(['andrew  ', 'bo;bo', '  claire   '])

In [21]:
messy_names

0       andrew
1          bo;bo
2      claire
dtype: object

In [22]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [23]:
messy_names1 = pd.Series(['andrew  ', 'bo;bo', '  claire   '])
def cleanup(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()

    return name

In [24]:
messy_names1.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object